<!doctype html>
<html lang="ru">

<head>
  <title>{{ title | default("Лобовух") }}</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport"> {% block styles %}{% endblock %}
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="assets/img/fav.jpg" />
  <link rel="stylesheet" href="https://cdn.envybox.io/widget/cbk.css">
  <meta name="description" content="Удаление сколов на ветровом стекле автомобиля. Мы объединяем специалистов и помогаем избежать замены стекла. Бесплатный выезд мастера и качественные материалы, гарантия восстановления!">
  <script type="text/javascript" src="https://cdn.envybox.io/widget/cbk.js?wcb_code=7b5995e2e9dbcb387424a875e81ea939" charset="UTF-8" async></script>
</head>

<body>

  <div class="body">
    {% block body %}{% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  {% block scripts %}{% endblock %}
  <script src="assets/js/scripts.js"></script>
</body>

</html>
 
