<footer>
  <div class="container">
    <div class="logo">
       <img src="assets/img/logo.png" alt="">
    </div>
    <div class="phone">+7 (999) 535-99-97</div>
    <a href="mailto:Lobovuh@gmail.com" class="mail">Lobovuh@gmail.com</a>
  </div>
</footer>
