<header>
  <div class="container">
    <div class="logo">
      <h1>Лобовух</h1>
      <img src="assets/img/logo-black.png" alt="">
    </div>
    <div class="select">
      <select name="" id="">
        <option value="">Санкт-Петербург</option>
      </select>
    </div>
    <div class="phone">+7 (999) 535-99-97</div>
    <a href="#callbackwidget" class="button">Обратный звонок</a>
  </div>
</header>
