<header>
  <div class="container">
    <div class="logo">
      <h1>Лобовух</h1>
      <img src="assets/img/logo-black.png" alt="">
    </div>
    <select name="" id="">
      <option value="">Санкт-Петербург</option>
    </select>
    <div class="phone">+7 (999) 535-99-97</div>
    <button class="button" type="button">Обратный звонок</button>
  </div>
</header>
