<main>

  <div class="top-block">
    <div class="container">
      <div class="left">
        <h2 id="top-heading">удаление сколов на лобовом стекле автомобиля</h2>
        <p>Мы объединяем специалистов и помогаем избежать замены стекла. Бесплатный выезд мастера и качественные материалы, гарантия восстановления!</p> 
      </div>
      <div class="right promo" id="sale">
        <img src="assets/img/promo.png" alt="">
        <p><span>СКИДКА 30%</span> на полное восстановление совмещенного дефекта скола с трещиной</p>
      </div>
    </div>
  </div>

  <div class="steps">
    <div class="container">
      <h3 class="heading"><span>ТРИ ПРОСТЫХ ШАГА,</span> Чтобы вернуть стеклу прочность и прозрачность:</h3>
      <div class="step">
        <div class="number">1</div>
        <div class="step__heading">Оцените дефект</div>
        <div class="step__desc blue-text">Стоимость указана с учетом выезда мастера!</div> 
        <div class="step__content slider-container">
          <div class="step__item slider__item showing">
            <img src="assets/img/photo-star.jpg" alt="">
            <p class="heading">«Звезда»</p>
            <p class="price"><span>от</span> 990 ₽</p>
          </div>
          <div class="step__item slider__item">
            <img src="assets/img/photo-eye.jpg" alt="">
            <p class="heading">«БЫЧИй глаз»</p>
            <p class="price"><span>от</span> 1090 ₽</p>
          </div> 
          <div class="step__item slider__item">
            <img src="assets/img/photo-combo.jpg" alt="">
            <p class="heading">«Комбо»</p>
            <p class="price"><span>от</span> 1190 ₽</p>
          </div>
          <div class="step__item slider__item">
            <img src="assets/img/photo-tr.jpg" alt="">
            <p class="heading">«Трещина»</p>
            <p class="price"><span>от</span> 1490 ₽</p>
          </div>
          <button id="prev"></button>
          <button id="next"></button>
        </div>
      </div>
      <div class="step">
        <div class="number">2</div>
        <div class="step__heading">Оставте заявку оператору</div>
        <div class="step__desc">Вам перезвонят в течение 24 секунд.</div>
        <div class="step__content">
          <form action="send.php" class="step__form" method="post" id="simple-form">
            <input type="hidden" name="city" value="%city%">
            <input type="text" placeholder="Ваше имя" name="fio">
            <input type="phone" class="phone-input" placeholder="+ 7 (000) 000-00-00" name="tel2">
            <button class="button">Оставить заявку</button>
            <p>При звонке наши специалисты ответят на любой интересующий Вас вопрос.</p>
          </form>
        </div>
      </div>
      <div class="step">
        <div class="number">3</div>
        <div class="step__heading">Ближайший мастер выполнит ремонт</div>
        <div class="step__desc">Примерное время работы занимает всего от 20 до 40 минут.</div>
      </div>
    </div>
  </div>

  <div class="text-block gray">
    <div class="container">
      <div class="side">
        <h3>Что делать до <span class="blue-text">бесплатного прибытия</span> мастера?</h3>
        <p class="what">Небольшой скол или маленькая трещина могут превратиться в огромную проблему — эти повреждения быстро расползаются, поэтому ремонт необходимо осуществить как можно раньше. Как только вы заметили повреждение на стекле — заклейте его скотчем, не включайте обдув или подогрев стекла, будьте аккуратнее на кочках.</p>
      </div>
      <div id="our-works">
        <h3>Наши некоторые работы в инстаграм:</h3>
        <div class="insta"></div>
      </div>
    </div>
  </div>

  <div class="text-block">
    <div class="container">
      <div class="side">
        <h3>Как проходит ремонт?</h3>
        <div class="video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8AGfD2iLhlU" frameborder="0" allowfullscreen></iframe>
        </div> 
        <style>
          @media (max-width: 590px){
            iframe{
              height: 150px;
            }
          }
        </style>
      </div>
      <div>
        <h3>Этапы работы:</h3>
        <ol>
          <li>Бесплатный выезд мастера;</li>
          <li>Подготовка дефекта, снятие напряжения, чистка, сушка;</li>
          <li>Заполнение пустоты повреждения полимером;</li>
          <li>Кристаллизация полимера ультрафиолетом;</li>
          <li>Удаление излишков и полировка места работы.</li>
        </ol>
        <p class="time">Примерное время работы: 20-40 минут.</p>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="container">
      <h3>ШТРАФ И ТЕХОСМОТР</h3>
      <p class="what">Трещина на ветровом стекле со стороны водителя в зоне работы стеклоочистителя — считается опасной!
        <br>Транспортное средство не допускается к эксплуатации по ГОСТ Р51709-2001 пункт 4.7.2
        <br>Управление транспортным средством с таким дефектом грозит штрафом в размере пятисот рублей по 1 части статьй 12.5 КоАП РФ пункта 7.3
        <br>Так же с дефектом (скол/трещина) на ветровом стекле ТС, возможны проблемы с пересечением пограничной таможни</p>
    </div>
  </div>

  <div class="text-block team">
    <div class="container">
      <div class="side">
        <h3>Наша миссия</h3>
        <p>История компании началась еще в провинции. За это время руководитель компании Егор успел поездить по большим городам нашей Родины и набраться опыта. Из множества методик выбрана та, что является самой действенной и аккуратной. Мы стараемся давать вторую жизнь стеклам, а их хозяевам сберечь деньги и нервы.</p>
      </div>
      <div>
        <h3>Наша команда</h3>
        <p>Мастера «Лобовух» делают все, чтобы работать на высшем уровне. Мы постоянно учимся и развиваемся в этом деле, работаем с инновационным оборудованием, контролируем качество обслуживания, пополняем наши ряды новыми специалистами и увеличиваем масштабы работы.</p>
      </div>
    </div>
  </div>

  <div class="blue blue-form" id="form">
    <div class="container">
      <h4>Узнайте более точную стоимость ремонта</h4>
      <p>Просто пришлите нам фотографию дефекта</p>
      <form action="send.php" class="step__form" method="post" enctype='multipart/form-data'>
        <input type="hidden" name="city" value="%city%">
        <input type="text" placeholder="Ваше имя" name="fio">
        <input type="phone" class="phone-input" placeholder="+ 7 (000) 000-00-00" name="tel2">
        <button class="button button--transparent" type="button">
          <input type="file" name="photo" id="file">
          <label for="file">Загрузите фото</label>
        </button>
        <button class="button button--green">Узнать стоиомость</button>
      </form>
    </div>
  </div>
</main>

<div class="modal">
  <img src="assets/img/done.png" alt="">
  <div class="text">
    Спасибо! 
    <span>Ваша заявка принята</span>
  </div>
  <button class="close" type="button"></button>
</div>
<div class="overlay"></div>
