/* Переменные */

$helvetica: "Helvetica Neue",
Arial,
sans-serif;
$link: #0000ff;
$link-hover: #ff0000;
$blue: #0072c0;
//$blue: #1c75bc;
$latex-mobile: "(max-width: 780px)";
$small-mobile: "(max-width: 590px)";
@media #{$latex-mobile} {
  .select {
    //    position: absolute;
    //    top: 224px;
    //    left: 40px;
    display: none;
  }
  header .logo {
    margin-right: 0;
  }
  header .phone {
    font-size: 25px;
    margin-right: auto;
  }
  .top-block h2 {
    font-size: 35px;
    margin-bottom: 83px;
  }
  .container {
    padding: 0 40px;
  }
  .top-block {
    padding-top: 46px;
  }
  p {
    font-size: 23px;
    line-height: 1.3;
  }
  .top-block .promo {
    width: 100%;
    border-radius: 0;
    background-color: #f5fcff;
    z-index: 2;
    position: relative;
    text-align: left;
    box-shadow: none;
    margin-top: 45px;
    margin-bottom: 31px;
    p {
      padding-top: 41px;
    }
    img {
      width: 50%;
      float: right;
      margin-right: -40px;
    }
    &:before {
      transform: rotate(90deg);
      right: -40px;
      left: auto;
    }
    &:after {
      content: '';
      display: block;
      width: 200vw;
      height: 100%;
      background-color: #f5fcff;
      position: absolute;
      top: 0;
      left: -50vw;
      z-index: -1;
    }
  }
  .steps .heading {
    line-height: 47px;
    margin-bottom: 31px;
  }
  .steps .container:before {
    left: 61px;
    top: 289px;
    height: 70%;
  }
  .step__content {
    display: block;
    position: relative;
  }
  .step__item,  .slider__item {
    max-width: 528px;
    margin: 0 auto;
    display: none;
    //    &:nth-child(n + 2) {
    //      display: none;
    //    }
  }
  .slider__item{
    display: none;
  }
  .showing{
    display: block;
  }
  #prev,
  #next {
    height: 44px;
    width: 22px;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
  }
  #prev {
    background-image: url(../img/ar-r.png);
    right: 0px;
  }
  #next {
    background-image: url(../img/ar-l.png);
    left: 60px;
  }
  .step__form input[type="text"] {
    width: 100%;
    margin-bottom: 30px;
  }
  .step__form input[type="phone"] {
    max-width: none;
    width: calc(50% - 20px);
  }
  .step__form button {
    width: calc(50% - 5px);
    height: 60px;
  }
  .step__form p {
    margin-top: 20px;
    width: 100%;
    padding-left: 15px;
    font-size: 22px;
    height: auto;
    margin-left: 0;
    float: none;
  }
  .step__form input {
    height: 60px;
    font-size: 22px;
  }
  .step__desc {
    padding-left: 65px;
  }
  .steps {
    background-position: 96.5% 100%;
    background-size: 40%;
  }
  .side {
    width: 100% !important;
  }
  .text-block .container {
    display: block;
  }
  .button--transparent {
    margin-right: 0;
  }
  .blue h4 {
    font-size: 33px;
    padding-top: 46px;
    margin-bottom: 21px;
    max-width: 70%;
  }
  .blue-form p {
    max-width: 70%;
    padding-bottom: 25px;
  }
  //  .blue-form .step__form input[type="text"], .button--transparent, .button--green{
  //    width: calc(50% - 20px);
  //  }
  .button--transparent {
    margin-right: 20px;
  }
  .blue-form input,
  .blue-form button {
    height: 46px;
    max-width: 182px !important;
    font-size: 16px;
  }
  footer {
    position: absolute;
    bottom: 192px;
    right: 0;
    padding-bottom: 0;
    .container {
      padding: 0;
      flex-direction: column;
      text-align: center;
      .logo {
        width: 170px;
        margin-right: 0;
        margin-bottom: 15px;
      }
      .phone,
      .mail {
        font-size: 25px;
        margin-right: 0;
      }
      .phone {
        &:after {
          display: none;
        }
      }
      .conf {
        margin-top: 20px;
        max-width: 80%;
        display: inline-block;
      }
    }
  }
}
@media #{$small-mobile} {
  footer {
    position: static;
    padding-bottom: 30px;
  }
  header .container {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  header .phone {
    margin-left: 0;
  }
  header .button {
    margin-bottom: 15px;
  }
  header .logo {
    padding-top: 15px;
    margin-right: auto;
  }
  header .select {
    display: block;
    width: 50%;
    text-align: right;
  }
  .top-block h2 {
    margin-bottom: 43px;
  }
  .top-block {
    padding-top: 86px;
  }
}
