/* Переменные */

$helvetica: "Helvetica Neue",
Arial,
sans-serif;
$link: #0000ff;
$link-hover: #ff0000;
$blue: #0072c0;
//$blue: #1c75bc;
$latex-mobile: "(max-width: 780px)";
@media #{$latex-mobile} {
  .select {
    position: absolute;

    top: 224px;
    left: 40px;

  }
  header .logo {
    margin-right: 0;
  }
  header .phone {
    font-size: 25px;
    margin-right: auto;
  }
  .top-block h2{
    font-size: 35px;
    margin-bottom: 83px;
  }
  .container{
    padding: 0 40px;
  }
  .top-block{
    padding-top: 46px;
  }
  p{
    font-size: 23px;
    line-height: 1.3;
  }
}
