{% extends "core/layout.twig" %}
{% set title = "Лобовух" %}

{% block body %}
  {% include 'blocks/header.twig' %}
<main class="flex">
  <div class="thanks">
    Спасибо, мы скоро перезвоним! 
  </div>
</main>
<div class="blue thanks"></div>
  {% include 'blocks/footer.twig' %}
{% endblock %}
 
 
 
